<!DOCTYPE html>
<html>
<head>
    <title>Translator</title>
</head>
<body>
    <header><h1>Translator</h1></header>

    <article>
        <a href="/upload"><button>Upload Code</button></a>
        <a href="/showcode"><button>Show code</button></a>
        <a href="/showoutput"><button>Show Output</button></a>
        <a href="/editscript"><button>Edit command</button></a>
    </article>


    <article id="mainArticle">
        <button onclick="responseScript('/start/')">Start</button>
        <button onclick="responseScript('/stop/')">Stop</button>
        <button onclick="responseScript('/status/')"> Get Status</button>
        <a href="/keyboard"><button>Keyboard</button></a>
    </article>

    <aside>
        <button id="autoScrollButton" onclick="changeScroll()">AutoScroll</button>
        <button id="clear" onclick="clearArea()">Clear</button>
        <button onClick="window.location.reload();">Refresh Page</button>
    </aside>
    <article>
        <label for="log"></label><textarea id="log" readonly rows="15" cols="50"></textarea>
    </article>

    <a href="/video/1"><button>Video 1</button></a>
    <a href="/video/2"><button>Video 2</button></a>
    <a href="/video/3"><button>Video 3</button></a>
    <a href="/video/4"><button>Video 4</button></a>
    <a href="/video/5"><button>Video 5</button></a>

    <script>
        const logContainer = document.getElementById('log');
        const socket = new WebSocket('ws://' + window.location.hostname + ':8100');
        const scrollButton = document.getElementById('autoScrollButton');
        const maxLogLength = 10000;
        let autoScroll = false;

        document.getElementById('mainArticle').className = 'formatForArticle';

        socket.onopen = function() {
            console.log('Connected to WebSocket');
        };

        socket.onclose = function() {
            console.log('Disconnected from WebSocket');
        };

        socket.onmessage = function(event) {
            let log = JSON.parse(event.data)['log'];
            if (log !== null) {
                if (logContainer.value.length > maxLogLength) {
                    clearArea();
                }
                for (const a in log) {
                    logContainer.value += '\n' + log[a];
                    if (autoScroll) logContainer.scrollTop = logContainer.scrollHeight;
                }
            }
        };

        function changeScroll() {
            autoScroll = !autoScroll;

            if (autoScroll) scrollButton.className = 'formatForButton';
            else scrollButton.className = 'scrollButton';
        }

        function clearArea() {
            logContainer.value = '';
        }

        function responseScript(url) {
            fetch(url)
                .then(response => response.json())
                .then(data => alert(data.status));
        }
    </script>
    <style>
      .formatForButton {
        background-color:blue;
      }
      .formatForArticle {
          margin-top: 20px;
          margin-bottom: 20px;
      }
    </style>
</body>
</html>
