<!DOCTYPE html>
<html>
<head>
    <title>Video Stream {{ number }}</title>
</head>
<body>
    <h1>Video Stream {{ number }}</h1>
    <img id="video"  />
    <form>
         <a class="btn btn-primary" href="{% url 'index' %}">Go back</a>
    </form>
    <script>
        const socket = new WebSocket('ws://' + window.location.hostname + ':8100');
        let main_num = {{ number }};

        socket.onopen = function() {
            console.log('Connected to WebSocket');
        };

        socket.onclose = function() {
            console.log('Disconnected from WebSocket');
        };

        socket.onmessage = function(event) {
            let frame = JSON.parse(event.data)['images'][main_num];
            const img = document.getElementById('video')
            if (frame !== null) {
                img.src = 'data:image/jpeg;base64,' + frame;
            }
        };
    </script>
</body>
</html>
